{% extends "base.html" %}

{% block app_content %}

<div class="container-fluid h-100" style="background-color: #dee7f1;">
    <div class="row h-100">

        <!-- Main content -->
        <div class="col-lg-10 h-100 d-flex flex-column" style="border: 1.5px solid gray; padding: 0;">

            <!-- File Name Header -->
            <div id="fileNameHeader" style="background-color: lightsteelblue; padding: 5px; font-weight: bold;">
                <strong id="nc_file_name">{{ selected_file }}</strong>
            </div>

            <!-- File editor -->
            <textarea id="fileContentEditor" 
              style="margin: 0; padding: 10px; background-color: #f8f9fa; white-space: pre-wrap; word-wrap: break-word; border: none; flex-grow: 1; overflow-y: auto; font-family: monospace;"
              spellcheck="false">{{ content }}</textarea>

        </div>

        <!-- Side tool bar -->
        <div class="col-lg-2 h-100"
            style="border-bottom: 1.5px solid gray; border-top: 1.5px solid gray; padding: 10px; overflow-y: auto;">
            {% include 'file_manager/fileEditToolBar.html' %}
        </div>

        <!-- Scripts -->


    </div>
</div>
{% endblock app_content %}